<!-- <app-search (emitSearch)="searchGit($event)"></app-search><br>
<div class="container">
  <img id="avatar" src="{{Users.avatar_url}}" alt="profile pic" height="250px" width="250px">
<p>Username: {{Users.login}}</p>
<p>Followers: {{Users.followers}}</p>
<p>Following: {{Users.following}}</p>
<p>Public Repositories: {{Users.public_repos}}</p>
<p>Location: {{Users.location}}</p>

<div *ngIf='Repos'>
  <div *ngFor='let repo of Repos'>
    <h3>{{repo.name}}</h3>
    <p> {{repo.description}} </p>
    <p> {{repo.created_at | date}}</p>
  </div>
</div>
</div> -->


<div class="container m-3">
  <div class="row">
    <div class="col-md-8">
      <h2 class="text-center p-1 rounded" style="background-color: rgb(255, 255, 255);">Github Repositories</h2>

      <div *ngFor='let repo of Repos'>
        <div class="card m-3">
          <div class="card-body">
            <div class="text-center">
              <h2 class="text-info">{{repo.name}}</h2>
              <!-- <button class="btn btn-lg bg-primary text-light card-title">{{repo.name}}</button> -->
            </div>
            <!-- <div class="card-title">{{repo.name}}</div> -->
            <div class="card-text">{{repo.description}}</div>
            <div class="card-footer">{{repo.created_at | date}}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <h2 class="text-center p-1 rounded" style="background-color: rgb(255, 255, 255);">Github User</h2>
      <div>
        <div class="text-center">
          <img src="{{Users.avatar_url}}" alt="" class="img-fluid rounded">
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Username: {{Users.login}}</li>
          <li class="list-group-item">Followers: {{Users.followers}}</li>
          <li class="list-group-item">Following: {{Users.following}}</li>
          <li class="list-group-item">Public Repositories: {{Users.public_repos}}</li>
          <li class="list-group-item">Location: {{Users.location}}</li>
        </ul>
      </div>
    </div>
    
  </div>
</div>

<!-- rgb(8, 89, 136) -->