<app-search (emitSearch)="searchGit($event)"></app-search><br>
<div class="container">
  <img id="avatar" src="{{Users.avatar_url}}" alt="profile pic" height="250px" width="250px">
<p>Username: {{Users.login}}</p>
<p>Followers: {{Users.followers}}</p>
<p>Following: {{Users.followers}}</p>
<p>Public Repositories: {{Users.public_repos}}</p>
<p>Location: {{Users.location}}</p>

<div *ngIf='Repos'>
  <div *ngFor='let repo of Repos'>
    <h3>{{repo.name}}</h3>
    <p> {{repo.description}} </p>
    <p> {{repo.created_at | date}}</p>
  </div>
</div>
</div>