<div class="container pt-3 pb-3">
    <div class="row">
        <div class="col-md-3">
            <div class="pt-3 pb-3">
                <img src="put_User_Avatar_Url_Here" class="img-fluid rounded-circle" alt="User avatar"> <!-- {{user.avatar_url}}  -->
            </div>
            <div>
                <h5>Name: <strong>put_here</strong></h5> <!-- {{user.name}}  -->
                <p>Username: <strong>put_here</strong></p> <!-- {{user.login}}  -->
                <p>Followers: <strong>put_here</strong></p> <!-- {{user.followers}}  -->
                <p>Following: <strong>put_here</strong></p> <!-- {{user.following}}  -->
                <p>Repositories: <strong>put_here</strong></p> <!-- {{user.public_repos}}  -->
                <p>Location: <strong>put_here</strong></p> <!-- {{user.location}}  -->
            </div>
        </div>


        <div class="col-md-9">
            <div class="text-center">
                <h2>REPOSITORIES</h2>
            </div>
            <div class="row">
                <div class="col-md-4 m-2"> <!--  *ngFor="let repo of repos" -->
                    <div class="card text-center">
                        <div class="card-body">
                          <h5 class="card-title">put_here</h5> <!-- {{repo.name}}  -->
                          <p class="card-text">put_here`</p> <!-- {{repo.description}} -->
                          <a href="put_Repo_Url_Here" class="btn btn-primary" target="_blank">View Repo</a> <!-- {{repo.html_url}} -->
                        </div>
                        <div class="card-footer text-muted">
                            Created: <!-- {{repo.created}} -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>